#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("Marvel.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.App{
  display: grid; 
}

.cardDiv {
  display: flex;
  flex-direction: column;
}

.listDiv{
  grid-column: 3/4;
}

.sideNav{
  text-align: left;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 15%;
  overflow: auto;
  font-size: 0.5rem;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 10px #ffffff80;
  
}

.sideNav h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 100;
}

.sideNav:hover h1 {
  cursor: pointer;
}

.header h1 {
  font-size: 2.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 0 10px #ffffff80;
  height: 150px;
  width: 200px;
  margin-right: 50px;
}

.list{
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-shadow: 0 0 10px #ffffff80;
  overflow-y: auto;
  height: 700px;
  width: 140%;
}

.titleList{
  justify-content: space-around;
  font-size: 1.2rem;
  display: flex;
  text-shadow: 0 0 10px #ffffff80;
  width: 95%;
}

.charList {
  justify-content: space-around;
  font-size: 1rem;
  text-shadow: none;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: rgba(130, 48, 48, 0.5);
  padding-top: 10px;
  padding-bottom: 10px;
}

.comicList {
  display: flex;
  justify-content: space-around;
  font-size: 0.8rem;
  color: white;
  text-shadow: none;
  width: 120%;
}

.imageDiv, .nameDiv, .comicsDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 150px
}

.imageDiv img {
  display: block;
  margin-bottom: 0;
  width: 100%;
  max-width: 100px;
  height: 100px;
  border-radius: 8px;
}

.searchDiv, .filterDiv, .clearDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color:  rgba(130, 48, 48, 0.5);
  color: white;
  text-shadow: 0 0 10px #ffffff80;
  height: 150px;
  width: 200px;
}

.searchDiv input {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  border: none;
  padding-left: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.searchDiv:hover, .filterDiv:hover {
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.8);
}

.filteringDivs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

.charDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.charDetails h1 {
  font-size: 36px;
  margin-bottom: 10px;
  text-align: center;
}

.charDetails img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 10px;
}

.charDetails p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

.charDetails h2 {
  font-size: 24px;
  margin-bottom: 10px;
  text-align: center;
  color: black;
  background-color: rgba(130, 48, 48, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 15px;
}

.charDetails ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.charDetails li {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  max-width: 1000px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.8)
}

.charDetails li:hover {
  background-color: #c0c0c0;
}

h1{
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-weight: 100;
  text-align: center;
  color: white;
  text-shadow: 0 0 10px #ffffff80;
  font-weight: bold;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.centered li {
  list-style: none;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}

.charDetails img {
  width: 300px;
  height: 300px;
  border: 5px solid black;
  border-radius: 8px;

}

.charDetails p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  text-shadow: 0 0 10px #ffffff80;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 1000px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.8)
}

.chartDiv{
  background-color: rgba(130, 48, 48, 0.5);
  border: 2px solid black;
  border-radius: 5px;
  padding: 15px 15px;
  margin-bottom: 20px;
}

.chartDivSummary{
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: black;
  text-shadow: 0 0 10px #ffffff80;
  border: 2px solid black;
  border-radius: 5px;
  max-width: 1000px;
  transition: background-color 0.2s;
  background-color: rgba(255, 255, 255, 0.8)
}